@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Modak|Open+Sans|Raleway&display=swap');

body {
  background-color: #F3F3F3;
  color: rgba(150,150,150,1);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  color: #594157;
  font-weight: 300px;
  font-size: 40px;
}

h2 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: 300px;
  font-size: 24px;
}

h3 {
    font-family: font-family: 'Modak', cursive;
    font-size : 30px;
    color: #594157;
}


a {
  color:#594157;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.container {
  width: 600px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin: 20px 0px;
  text-align: center;
}

.card-footer {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin: 10px 0px;
  text-align: center;
}

.card-video {
  background-color: white;
  padding: 10px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 8px;
  margin: 10px 0px;
  text-align: center;
}



.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 40px;
}

.btn {
    background-color: #A0D2DB;
    color: white;
    padding: 10px 10px;
    border-radius: 4px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
