@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');

body {
  background-color: #F3F3F3;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-family: 'Raleway';
  color: 'black';
  font-weight: 300px;
  font-size: 40px;
}

h2 {
  font-family: 'Raleway';
  font-weight: 300px;
  font-size: 24px;
}

a {
  color:#DA552F;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
